:root {
    --pesto: #71722d;
    --web-orange: #ffa800;
    --soft-amber: #cfc6b4;
    --breaker-bay: #62a19f;
    --bone: #dfcdbf;
    --tapestry: #a04c92;
}

body {
    background-color: var(--breaker-bay);
}

header {
    background-color: var(--breaker-bay);
    display: flex;
    justify-content: space-between;
    border-bottom: solid 10px #cfc6b4;
}

header > *{
    background-color: var(--pesto);
    color: white;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: 1 rem;
    border: solid  #ffa800 5px;
    margin: 20px 2%;
    padding: 10px;
}

a:hover{
    background-color: var(--web-orange);
    color: black;
    border: solid #71722d 5px;
    border-radius: 20px;
    cursor: pointer;
}

#container {
    background-color: var(--pesto);
    color: white;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 1 rem;
    border: solid #ffa800 10px;
    border-radius: 20px;
    margin: 50px 10% 20px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

#container > * {
    margin: 20px 5%;
    align-self: center;
}

#title {
    font-size: 1.75rem;
    text-align: center;
}

#content {
    font-size: 1.1rem;
    text-align: center;
}

button {
    font-family: 'Alegreya', serif;
    font-weight: 400;
    font-size: large;
    padding: 10px 40px;
    background-color: #dfcdbf;
    color: black;
    border: solid #a04c92 5px;
    border-radius: 0px;
}

button:hover {
    background-color: #a04c92;
    color: white;
    border: solid #dfcdbf 5px;
    border-radius: 20px;
    cursor: pointer;
}

#button1, #button2, #button3, #button4, #restart, #clearScores {
    align-self: center;
}

#initials {
    display: block;
}

#submit {
    display: block;
}

#form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    text-align: center;
    font-size: 150%;
}

@media screen and (min-width: 768px){
    header {
        justify-content: space-between;
    }
    
    #container {
        margin: 75px 20% 20px;
    }
    #content {
        text-align: center;
    }
}

@media screen and (min-width: 992px){
    header {
        justify-content: space-between;
    }
    #container {
        margin: 75px 20% 20px;
    }
    #content {
        text-align: center;
    }
}